<div class="Content__container JournalActions">
  <div class="Content__innerContainer">
    <% if current_academic.admin_role? %>
      <%= link_to new_methodology_path, class: "JournalActions__item" do %>
        <i class="fas fa-plus-square Actions__add"></i> Create Methodology
      <% end %>
    <% end %>
  </div>
</div>

<div class="Content__container">
  <div class='Table Content__innerContainer Content__innerContainer--no-padding'>
    <div class='Table__headings'>
      <span>Name</span>
      <span>Actions</span>
    </div>

    <div class='Table__body'>
      <% @methodologies.each do |methodology| %>
        <div class='Table__row'>
          <span><%= link_to methodology.name, methodology_path(methodology.id) %></span>
          <span><%= button_to 'Destroy', methodology, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
