<div class="text-field">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="text-field">
  <%= form.label :impact_factor %>
  <%= form.number_field :impact_factor %>
</div>
