<div class='Table__body' id="journalsListing">
  <% journals.each do |journal| %>
    <div class='Table__row'>
      <turbo-frame id=<%= "journal_#{journal.id}" %>>
        <span><%= link_to journal.title, journal_path(journal.id) %></span>
        <span><%= journal.impact_factor %></span>
        <% if current_academic.admin_role? || current_academic.approver_role? %>
          <span><%= journal.approved? %></span>
        <% end %>
      </turbo-frame>
    </div>
  <% end %>
</div>
