<h2>Add new Journal</h2>

<%= form_for @journal do |form| %>
  <%= render partial: 'form', object: form %>

  <div class="submit-field">
    <%= form.submit %>
  </div>

  <div class="other-links">
    <%= link_to "Back to Journal list", journals_path %>
  </div>
<% end %>
