.Content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Content__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.Content__container--black {
  background-color: $space-cadet;
}
.Content__innerContainer {
  max-width: 1200px; /* HeaderImage width */
  padding-left: 20px;
  padding-right: 20px;
}
.Content__innerContainer--no-padding {
  padding: 0;
}
.Content__innerContainer--centered {
  text-align: center;
}
