.Form {
  background: lighten($glossy-grape, 33%);
  border: 3px solid $glossy-grape;
  padding: 20px;
}
.Form__input,
.Form__Submit-button,
.Form__multiple-select {
  box-sizing: border-box;
  display: block;
  margin-bottom: 20px;
  margin-top: 5px;
  width: 100%;
  font-size: 16px;
}
.Form__input {
  height: 30px;
}
.Form__multiple-select {
  padding: 5px;
}
.Form__Submit-button {
  background-color: $glossy-grape;
  color: $ghost-white;
  padding: 10px;
  font-size: 16px;
  border: 1px solid $english-violet;
}
.Form__Submit-button:hover {
  cursor: pointer;
  filter: brightness(125%);
}
.Form__group {
  display: flex;
  flex-direction: column;
}
.Form__groupName {
  margin-top:0;
  margin-bottom: 5px;
}
.Form__collection {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100px;
  background-color: #fff;
  border: 1px solid;
}
