.Hero {
  border-bottom: 1px solid #cdcdcdff;
  box-shadow: 0px 50px 35px -71px rgba(0,0,0,0.75);
  padding-bottom: 40px;
}
.Hero__title {
  font-size: 48px;
}
.Hero__pitch {
  font-size: 24px;
  line-height: 1.5;
}
