body {
  margin: 0;
}
table {
  background: #f5f5f5;
  border: 1px solid #333;
  border-radius: 5px;
  border-collapse: collapse;
  display: inline-block;

  thead {
    border-bottom: 1px solid #333;

    th {
      cursor: pointer;
    }
  }

  td, th {
    padding: 10px;
  }
}
